@import "tailwindcss";
/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #bbb; /* Color of the scrollbar thumb */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #bbb #f1f1f1; /* thumb and track color */
}